{% if site.about %}
    <nav class="nav-home">
        <ul class="list">
            <li class="item">
                <h2>About</h2>
            </li>
        </ul>
    </nav> 
    {% include about.html %}
{% endif %}

{% if site.skills %}
    <nav class="nav-home">
        <ul class="list">
            <li class="item">
                <h2>Skills</h2>
            </li>
        </ul>
    </nav>
    {% include skills.html %}
{% endif %}

{% if site.projects %}
    <nav class="nav-home">
        <ul class="list">
            <li class="item">
                <h2>Projects</h2>
            </li>
        </ul>
    </nav>
    {% include projects.html %}
{% endif %}
