<section class="list">
    <div class="item">
        <a class="url" href="">
            <h3 class="title">Indigo</h3>
        </a>
        <p class="description">A simple web server</p>        
    </div>

    <div class="item">
        <a class="url" href="">
            <h3 class="title">Pink</h3>
        </a>
        <p class="description">A simple web server</p>        
    </div>

    <div class="item">
        <a class="url" href="">
            <h3 class="title">Termite</h3>
        </a>
        <p class="description">A simple web server</p>        
    </div>
</section>
